@model WebApiIdentity.Models.Schedule

@{
    ViewBag.Title = "ViewSchedule";
}

<h2>@Model.class_id</h2>
<h2>@Model.teacher_id</h2>
<h2>@Model.Subject</h2>
<h2>@Model.classroom</h2>
<h2>@Model.begin_time.ToString()</h2>
<h2>@Model.day_of_week</h2>


